.form{
    margin: 20%;
    border: 1px solid #d0d0d0;
    border-radius: 15px;
    padding: 5%;
    background-color: #f1f1f1;
}

.forminput{
    --background: #f1f1f1;
    border: 1px solid #bbb8b8;
    border-radius: 10px;
    margin-bottom: 5px ;
}