.hidden1{
    display: none;
}
.hidden2{
    display: none;
}

.show{
    display: block;
}
.scroll{
    overflow-y: scroll;
}
.footer{
    position : absolute;
    bottom: 0px; 
}

.sender{
    margin-right: 5px;
    float: right;
    --ion-item-background: #435cb7d5;
    color: #fff;
    border-radius: 15px;
}

.reciever{
    margin-left: 5px;
    float: left;
    --ion-item-background: #909090d5;
    color: #fff;
    border-radius: 15px;
}

.input-area {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 50px;
    background: white;
    }
  